@font-face {
    font-family: 'Ledger';
    src: url('fonts/Ledger/Ledger-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Cormorant';
    src: url('fonts/Cormorant/static/Cormorant-Regular.ttf') format('truetype');
}

body {
    margin: 0;
}

.about {
    font-family: "Ledger", Sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center; 
    color: #5C6248;
}

.image-container {
    width: 100%;
    max-width: 510px;
    padding: 0 20px; 
    box-sizing: border-box;
}

.about-pic {
    width: 100%; 
    height: auto; 
}

.about-div {
    font-size: 48px;
    font-family: "Cormorant", Sans-serif;
    text-align: center;
    font-weight: bold;
    color: black;
}

.about-container {
    padding: 40px;
    width: 30%; 
    margin-top: 8%;
}

p {
    text-align: center;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .about {
        flex-direction: column; 
        align-items: center; 
    }

    .about-container {
        width: 80%; 
        padding: 20px; 
    }
}
