@font-face {
    font-family: 'Ledger';
    src: url('fonts/Ledger/Ledger-Regular.ttf') format('truetype');
}

body {
    margin: 0;
}

.contact {
    font-family: "Ledger", Sans-serif;
    font-size: 20px;
    color: #5C6248;
    padding: 50px 20px; 
    text-align: center; 
}

.contact-header {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 20px;
}

.contact-container {
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin: 5px 0px;
}

.contact-body{
    max-width: 1000px;
    margin: 0 auto;
}
.contact-icon {
    width: 24px; 
    height: auto; 
    margin-right: 5px; 
}

.contact-text {
    font-size: 16px; 
}

