@font-face {
    font-family: 'Ledger';
    src: url('fonts/Ledger/Ledger-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

nav {
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center; 
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

ul li {
    display: inline;
    margin-right: 20px;
}

ul li a {
    font-family: "Palatino Linotype", sans-serif;
    font-size: 20px;
    color: #5c6248;
    fill: #5c6248;
    text-decoration: none;
}

ul li a:hover {
    color: gray;
}

ul img {
    width: 90px;
}

.elementor-divider {
    padding-block-start: 15px;
    padding-block-end: 15px;
}

/* Media query for adjusting font size */
@media screen and (max-width: 768px) {
    ul li a {
        font-size: 16px; 
    }
}
