@font-face {
    font-family: 'Ledger';
    src: url('fonts/Ledger/Ledger-Regular.ttf') format('truetype');
} 

@font-face {
    font-family: 'Cormorant';
    src: url('fonts/Cormorant/static/Cormorant-Regular.ttf') format('truetype');
}

body {
    margin: 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px; 
    margin-bottom: 50px;
    padding: 0 20px; 
}

.painting {
    text-align: center;
    flex: 1 0 calc(50% - 40px); 
    max-width: calc(50% - 40px); 
    margin-bottom: 50px;
    margin-left:50px;
    margin-right:50px;
}

.painting img {
    max-width: 100%; 
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.painting img:hover {
    opacity: 0.8;
}

.label {
    margin-top: 5px;
    font-family: "Cormorant", Sans-serif;
    font-size: 40px;
    color: #5C6248;
}

.size {
    font-family: "Ledger", Sans-serif;
    font-size: 30px;
    color: #5C6248;
    margin-top: 10px;
}

#lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.lightbox-content {
    max-width: 90%;
    max-height: 90%;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.label,
.size {
    display: block;
    font-family: "Cormorant", Sans-serif;
    text-align: center;
    margin-top: 5px;
}

@media screen and (min-width: 1200px) {
    .painting {
        flex: 1 0 calc(32%);
        max-width: calc(32%);
    }
}

@media screen and (min-width: 651px) and (max-width: 1200px) {
    .painting {
        flex: 1 0 calc(55%);
        max-width: calc(55%);
    }
    
}

@media screen and (max-width: 650px) {
    .painting {
        flex: 1 0 calc(100% - 40px);
        max-width: calc(100% - 40px); 
    }
}
